{% extends "base.html" %}
{% block content %}
  <h1>Admin Login</h1>
  <p class="badge">Restricted area</p>
  <hr>
  <form method="post">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" required>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" required>
    </div>
    <div class="form-actions">
      <button class="btn primary" type="submit">Login</button>
    </div>
  </form>
{% endblock %}
